@model RedeSocial.Domain.Account.Account

@{
    ViewData["Title"] = "EditPassword";
}

    <div class="container center">
        <h1 class=""><b>Alterar senha</b></h1>
        <p>Insira sua senha atual e sua nova senha abaixo:</p>
    </div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />           
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="nav-link" asp-action="Index" asp-controller="Home">Voltar para a página inicial</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
